/* 타이틀 */
h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 70px;
}

.boxWrap {
  width: 700px;
  margin: 0 auto;
}

input[type="text"],input[type="password"] {
  margin-bottom: 15px;
  width: 220px;
  height: 40px;
  background-color: #e3e3e3;
  border: none;
  margin-right: 10px;
}
input::placeholder {
  padding-left: 5px;
}

input[type="radio"] {
  margin-bottom: 15px;
}

select {
  width: 200px;
  height: 40px;
  background-color: #e3e3e3;
  border: none;
  margin-bottom: 15px;
}

/* input checkbox 디자인 */
.checkbox {
  display: inline;
  margin-right: 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid #666;
  border-right: none;
}

th {
  width: 200px;
  background-color: #666;
  color: white;
  border-bottom: 1px solid white;
}
td {
  width: 500px;
  height: 50px;
  /* 내부여백 위/오른쪽/아래/왼쪽 설정 */
  padding: 20px 0px 6px 20px;
}

.buttonWrap {
  width:210px;
  margin: 30px auto;
}

/* 버튼 공통 디자인 */
button, input[type="submit"] {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 3px;
  margin-bottom: 70px;
}
/* 확인 버튼 */
input[type="submit"] {
  background-color: red;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.accept>a {
  color: white;
  text-decoration: none;
}
input[type="submit"]:hover {
  background-color: darkred;
}
/* 취소 버튼 */
.cancel {
  background-color: white;
  border: 1px solid #999;
}
.cancel>a {
  color: #666;
  text-decoration: none;
}
.cancel:hover {
  border: 1px solid black;
  cursor: pointer;
}