@charset "UTF-8";

.container{
    padding-left: 20%;
    padding-right:20%;
    display: inline-block;
}

.container > h3 {
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: normal;
}

.container .inner{
    display: table;
    position: relative;
    height: 44px;
    margin: 0 auto;
}

.total_search_input {
    display: inherit;
    width:960px;
    padding: 40px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.total_search_input.type02 select {
    height: 46px;   
}

.total_search_input.type02 select:hover {
    border: 1px solid #d60815;
}

#searchText:hover {
    border: 1px solid #d60815;
}

select.white {
    border: 1px solid #cdd1d3;
    background: #fff  no-repeat right 13px top 50%;
}
select {    
    padding: 0 45px 0 15px;
    margin-right: 10px;   
    color: #222;
    vertical-align: middle;
}


.total_search_input.type02 input {
    width: 400px;
    height: 46px;
    border: 1px solid #ccc;
    vertical-align: top;
    box-sizing: border-box;
}


.total_search_input input {
    width: 614px;
    height: 44px;
    margin-right: 0;
    padding: 0 35px 0 15px;
    border: 1px solid #ccc;
    line-height: 44px;
    background-color: #fff;
}


.total_search_input.type02 select, .total_search_input.type02 input, .total_search_input.type02 .btn_M {
    float: left;
}

button.red {
    border: 1px solid #d60815;
    background-color: #d60815;
    color: #fff;
}
.btn_M {
    padding: 11px 30px;
    font-size: 15px;
    min-height: 46px;
    line-height: 17px;
}

.btn_M:hover {
    background-color: #c40b17;
}

.menuBtn > ul > li{
    display: table-cell;
    width:160px;
    height: 63px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background: #6d6e70;
    color: #fff;
    border-bottom-color: #fff;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    vertical-align: middle;
    word-break: keep-all;
    font-weight:
}

.menuBtn > ul > li.on{
    background: #fff;
    border: 1px solid #6d6e71;
    border-right: none;
    border-bottom-color: #fff;
    color: #d60815;
    font-weight: bold;
    background: #fff;
}

.menuBtn > ul > li:hover{
    background: #646668;
}

.noticeList {
    margin-top: 10%;
    border-top: 3px solid #646668;
}

.noticeList > div{
    padding:20px;
    border-bottom: 1px solid #646668;
}

.noticeList > div:hover{
    background-color: #f7f7f7;
}

.noticeList > div > span {
    display: inline-block;
    min-width: 126px;
    color: #555;
}

.noticeList > div > span.nTitle {
    color: #000;
    font-weight: bold;
    margin-right:50%;
}

