#main{
    width:450px;
    height:830px;
    background: #D8D9DB;
    border: 1px solid gray;
    box-shadow: 0 0px 10px rgb(0 0 0 / 20%);
}

/* 헤더 */
.wc-header{
    background-color: #D8D9DB;
    box-sizing: content-box;
    color: #ffffff;
    font-weight: 500;
    padding-top:30px;
}

.wc-header span {
    color: #444A51;
    font-size: 19px;
    padding: 0 0 0 10px;
    font-weight: 700;
    letter-spacing: -0.025em;
    text-transform: uppercase;
}
.sns-wrap{
    position: relative;
    top: 10%;
    transform: translate(0, -80%);
    left: 70%;
}

.sns-wrap > a{
    text-decoration: none;
    padding: 5px;
}

/* 메시지 창 */
.wc-message-wrapper{
    width:450px;
    height:600px;
    background: #f1f1f1;
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    border-top:2px solid silver;
}

.aron{
    display:flex;
    align-self : flex-start;
}

.send{
    left:100px;
    display:flex;
    align-self: flex-end;
}

.aron > img {
    height:50px;
    width:50px;
}

#currentTime{
    padding-left: 60px;
    clear: both;
    color: #767676;
    font-size: 11px;
    margin-top: 5px;
}

.aron > div{
    color:#555;
    background: white;
    border: 1px solid #ddd;
    border-radius: 0 30px 30px 30px;
    margin: 5px 5px;
    padding: 4px 20px;
    font-size: 13px;
}

.send > div{
    color:#fff;
    background: #d60815;
    border: 1px solid #ddd;
    border-radius: 30px 0px 30px 30px;
    margin: 5px 5px;
    padding: 4px 20px;
    font-size: 13px;
}

#menuTab tr> td {
    text-align: center;
}

#menuTab tr> td > button{
    width: 160px;
    background: white;
    border: 1px solid #6d6e72;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: left;
    font-weight: bold;
}

#menuTab tr> td > button:hover {
    color : #fff;
    background: #555;

}

/* 퀵 메뉴 */

.quickBtn{
    width:450px;
    height:50px;
    background: #fff;
    padding: 5px 0;
    text-align: center;
}

.quickBtn>button{
    width: 20%;
    height: 45px;
    padding: 5px 8px;
    border-color: #D8D9DB;
    background: #D8D9DB;
    box-shadow: 0 0 10px #ddd;
    font-weight: 600;
    margin: 5px 5px;
    line-height: 18px;
    vertical-align: top;
    border-radius: 0 30px 30px 30px;
}

#endBtn{
    width: 290px;
    height: 50px;
    margin: 10px 20px;
    text-align: center;
    text-indent: 0;
    font-weight: 600;
    color: #000;
    background: none !important;
    border-radius: 10px;
    border: 1px solid #D8D9DB;
}
#introBtn {
    display:flex;
}

#introBtn >button {
    color: #fff;
    background-color: #6d6e72;
    text-align: left;
    min-height: 40px;
    width: 120px;
    height: 160px;
    /* padding: 0 16px; */
    font-weight: 600;
    font-size: 14px;
    border: 1.5px solid #ddd;
    border-radius: 5px;
    
    cursor: pointer;
    transition: color .2s ease, background-color .2s ease;
    margin: 10px 10px;
}

#endBtn:hover{
    color: #fff;
    background: #6d6e72 !important;
}

.wc-console{
    width: 440px;
    height: 50px;
    display:flex;
    background: white;
    border-top: 1px solid #ccc;
    padding: 15px 5px;
}

.wc-console input[type=text] {
    width: 320px;
    line-height: normal;
    border: none;
    outline: none;
    padding: 0;
    padding: 20px 20px;
    background: #f1f1f1;
    border-radius: 30px; 
}

.wc-console input[type=image]{
    width: 70px;
    height: 50px;
    margin: 0 10px;
}